@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

.btn {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  outline: none;
}

.delete {
  background: blue;
}

.container {
  margin: 2rem;
  width: 600px;
  text-align: center;
}

.container .active {
  display: block;
}

.container h1 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.container .show-btn {
  background: gray;
  font-size: 1.1rem;
}

.val-form {
  display: none;
  color: red;
  border: 2px solid red;
  padding: 1rem;
  width: 60%;
  margin: auto;
}

.container form {
  display: none;
}

.container .form label {
  display: block;
  font-size: 1.2rem;
  margin: 0.5rem 0;
  text-align: left;
}

.container .form input {
  border: none;
  background: gray;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  outline: none;
}

.container .form div:nth-child(4) {
  display: flex;
  width: 100px;
}

.container .form div:nth-child(4) input {
  transform: scale(1.5);
  margin-top: 1rem;
}

.container .form .submit {
  background: gray;
}

.container .list {
  text-align: center;
  border: none;
  margin: 1rem 0;
  width: 100%;
}

.container .list tr {
  background: gray;
}

.container .list th {
  background: gray;
}

.container .list td {
  background: red;
}

.container .list th,
.container .list td {
  padding: 1rem;
}
