@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  line-height: 1.5;
}

.btn {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  outline: none;
  background: #fff;
  color: #16a085;
}

.container {
  margin: 1rem;
  padding: 1rem;
  border-radius: 3%;
  width: 600px;
  text-align: center;
  background: #34495e;
  color: #1abc9c;
}

.container .active {
  display: block;
}

.container h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.container h3 {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.container .show-btn {
  font-size: 1.1rem;
}

.val-form {
  display: none;
  color: #fff;
  background: #e74c3c;
  padding: 1rem;
  width: 60%;
  margin: auto;
}

.container form {
  display: none;
}

.container .form label {
  display: block;
  font-size: 1.2rem;
  margin: 0.5rem 0;
  text-align: left;
}

.container .form input {
  border: none;
  background: #ecf0f1;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  outline: none;
}

.container .form div:nth-child(4) {
  display: flex;
  width: 100px;
  justify-content: center;
}

.container .form div:nth-child(4) input {
  transform: scale(1.5);
  margin-top: 1rem;
}

.container .form .submit {
  font-size: 1.2rem;
  padding: 0.5rem 1.2rem;
}

.container .list {
  text-align: center;
  margin: 1rem 0;
  width: 100%;
}

.container .list th {
  background: #2c3e50;
  padding: 1rem;
}

.container .list td {
  background: #fff;
  color: #16a085;
}

.container .list .delete {
  background: #1abc9c;
  color: #fff;
}
